:root {
  --bg-color: #36416a;
}

html {
  font-size: 16px;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "DM Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  color: white;
  font-size: 0.875rem;
}

a:hover {
  text-decoration: none;
}

button {
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
  font-family: "DM Sans", sans-serif;
}

input {
  font-family: "DM Sans", sans-serif;
}

::placeholder {
  font-family: "DM Sans", sans-serif;
}

::-webkit-scrollbar {
  width: 8px;
  border-radius: 4px;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background-color: #c7cbd6;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.blackScreen-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  background-color: #00000040;
}

@media (min-width: 1024px) {
  a {
    font-size: 1rem;
  }
}
